.home-page {
    .text-zone {
        h1 {
            color: #5e7e0f;
            font-size: 53px;
            margin: 0;
            font-family: 'Coolvetica';
            font-weight: 400;
        }

        h2 {
            color: #e25b45;
            margin-top: 20px;
            font-weight: 400;
            font-size: 20px;
            font-family: sans-serif;
            animation: fadeIn 1s 1.8s backwards;
        }

        .flat-button {
            color: #e25b45;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 2px;
            font-family: sans-serif;
            text-decoration: none;
            padding: 10px 18px;
            border: 1px solid #e25b45;
            margin-top: 25px;
            float: left;
            animation: fadeIn 1s 2.8s backwards;
            white-space: nowrap;
            border-radius: 10px;

            &:hover {
                background: #e25b45;
                color: #fff9dc;
            }
        }
    }

    img {
        height: 700px;
        margin-left: 55%;
        margin-top: 30px;
        animation-delay: 1.8s;

    }
}

@media screen and (max-width: 1197px) {
    .home-page {
        .text-zone {
            top: 0%;
        }

        img {
            height: 600px;
            margin-left: 55%;
            margin-top: 0px;
        }
    }
}


@media screen and (max-width: 943px) {
    .page {
        padding-top: unset;

        .home-page {
            .text-zone {
                top: 90%;
                position: center;
                text-align: center;
                max-height: 90%;
                padding: unset;

                h1 {
                    margin-top: 25px;
                }

                h2 {
                    margin-top: unset;
                    margin-bottom: 20px;
                }


                .flat-button {
                    float: unset;
                    justify-content: center;
                    width: 25%;

                }
            }

            img {
                height: 350px;
                margin: unset;
                margin-left: 40%;

            }
        }
    }
}

@media screen and (max-width: 669px) {
    .page {
        .home-page {
            
                img {
                    height: 350px;
                    margin: unset;
                    margin-left: 30%;

                }
            
        }
    }
}